@use '../base/variables' as vars;
@use '../base/mixins' as mixins;


.footer {
  padding: 30px 0;
  text-align: center;
  color: vars.$color-soft-beige;
  background-color: vars.$color-dark-blue; // Moved from `footer` selector

  img {
    margin: 0 10px; // Nested inside `.footer` to target images within it
  }
}
