@use "../base/variables" as vars;

.header {
  background-color: vars.$color-dark-blue;
  color: vars.$color-soft-beige;
  width: 100%;

  .header-inner {
    max-width: vars.$container-max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
}

.logo {
  height: 50px;
  margin-right: 1rem;
}

.name-logo {
  font-family: 'Love Light', cursive;
  font-size: 1.5rem;
  margin-right: auto; // pushes the nav to the right
  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: vars.$color-soft-beige;
    font-weight: bold;
  }
}


.menu-icon {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: vars.$color-soft-beige;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

@media (max-width: 768px) {
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .name-logo {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: vars.$color-soft-beige;
    cursor: pointer;
  }

  .main-nav {
    display: none;
    width: 100%;
    background-color: vars.$color-dark-blue;

    &.open {
      display: block;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 2rem;
      margin: 0;
      list-style: none;

      a {
        color: vars.$color-soft-beige;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}