@use './base/variables' as vars;


/* Header */
.header {
  background-color: vars.$color-dark-blue;
  color: vars.$color-soft-beige;
  padding: 10px 0;
  font-family: 'IBM Plex Sans', serif;
  display: flex;
  justify-content: center;
  align-items: center
}

.header a {
  color: vars.$color-soft-beige;
  text-decoration: none;
  font-weight: vars.$font-weight-bold;

}

.logo {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.name-logo {
  font-family: 'Love Light', serif;
  font-size: 2.5em;
  color: vars.$color-soft-beige;
  margin: 0 15px 0 0;
}

.name-logo a {
  text-decoration: none;
  color: inherit;
}

/* Main Nav Bar */
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: vars.$color-soft-beige;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-list a:hover {
  color: vars.$color-bright-red;
  transform: scale(1.1);
}