@use '../base/variables' as vars;
@use '../base/mixins' as mixins;


/* Layout styles */
.container {
  width: vars.$container-width;
  margin: 0 auto;
  padding: 0 vars.$container-padding;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  @include mixins.respond-to(small) {
    width: 100%;
    padding: 0 10px;
  }

  @include mixins.respond-to(xsmall) {
    width: 100%;
    padding: 0 5px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include mixins.respond-to(small) {
    padding: 10px;
  }

  @include mixins.respond-to(xsmall) {
    padding: 5px;
  }
}



.home-content div {
  flex: 1;
}

.home-content p {
  color: vars.$color-black;
  line-height: 1.8;
  margin-bottom: 20px;
  text-indent: vars.$text-indent;
}

/* About Page */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: vars.$color-black;
    
  p {
    margin-bottom: 20px;
    text-indent: vars.$text-indent; 
    font-size: vars.$font-size-large;
    line-height: vars.$line-height-4;
  }

  @include mixins.respond-to(small) {
    font-size: vars.$font-size-base;
    margin-top: 2rem;
  }

  @include mixins.respond-to(xsmall) {
    font-size: vars.$font-size-small;
    margin-top: 2rem;
  }
}


