@use './base/variables' as vars;


/* Layout styles */
.container {
  width: vars.$container-width;
  margin: 0 auto;
  padding: 0 vars.$container-padding;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Home Page */
.home-content {
  font-size: vars.$home-content-font-size;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: vars.$home-content-margin;
  max-width: vars.$container-max-width;
  background-color: vars.$color-soft-beige;
  border-radius: vars.$border-radius;
  padding: vars.$home-content-padding;
  width: vars.$container-width;
}

.home-content div {
  flex: 1;
}

.home-content p {
  color: vars.$color-black;
  line-height: 1.8;
  margin-bottom: 20px;
  text-indent: vars.$text-indent;
}

/* About Page */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: vars.$color-black;
    
  p {
    margin-bottom: 20px;
    text-indent: vars.$text-indent; 
    font-size: vars.$font-size-large;
    line-height: vars.$line-height-4;
  }
}


/* Media Queries */
@media (max-width: vars.$media-query-large) {
  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: vars.$media-query-small) {
  .portfolio-content {
    grid-template-columns: 1fr;
  }
}
