@use '../base/variables' as vars;
@use '../base/mixins' as mixins;

.ctaButton {
    background-color: vars.$color-dark-blue;
    color: vars.$color-soft-beige;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    border: none;
    padding: 10px 20px;

    @include mixins.respond-to(small) {
      width: 100%; 
      padding: 10px; 
      font-size: vars.$font-size-xlarge; 
    }
  
    @include mixins.respond-to(xsmall) {
      width: 100%; 
      padding: 8px; 
      font-size: vars.$font-size-large; 
    }

  }
  
  .ctaButton:hover {
    background-color: vars.$color-bright-red;
    color: vars.$color-soft-beige;
    transform: scale(1.05);
    opacity: 0.8;
  }