@use '../base/variables' as vars;
@use '../base/mixins' as mixins;

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px; 
  padding: 20px;

  @include mixins.respond-to(medium) {
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
    padding: 15px; 
  }

  @include mixins.respond-to(small) {
    grid-template-columns: 1fr; 
    gap: 30px; 
    padding: 10px; 
  }

  @include mixins.respond-to(xsmall) {
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 5px; 
  }
}

.portfolio-item {
  background-color: vars.$color-soft-beige;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;  
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: vars.$font-size-xlarge;
  
  @include mixins.respond-to(large) {
    padding: 30px; 
    font-size: vars.$font-size-large; 
  }

  @include mixins.respond-to(medium) {
    padding: 40px; 
    font-size: vars.$font-size-base; 
  }

  @include mixins.respond-to(small) {
    padding: 40px; 
    font-size: vars.$font-size-small; 
  }
}

.portfolio-item:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid vars.$color-muted-teal;
}

.portfolio-item h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.portfolio-item p {
  font-size: 1em;
  color: vars.$color-dark-blue;
}