@use './base/variables' as vars;

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .portfolio-item {
    background-color: vars.$color-soft-beige;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid vars.$color-muted-teal;
  }
  
  .portfolio-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .portfolio-item p {
    font-size: 1em;
    color: vars.$color-dark-blue;
  }