@use '../base/variables' as vars;
@use '../base/mixins' as mixins;

.table-content {
  color: vars.$color-black;
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-size: 16px;
    text-align: left;

    @include mixins.respond-to(small) {
      font-size: vars.$font-size-small; 
    }
  
    @include mixins.respond-to(xsmall) {
      font-size: vars.$font-size-small; 
    }
  }
  
  th, td {
    padding: 12px;
    border: 1px solid vars.$color-dark-blue;
    
    @include mixins.respond-to(small) {
      padding: 10px; 
    }
  
    @include mixins.respond-to(xsmall) {
      padding: 8px; 
    }
  }
  
  th {
    background-color: vars.$color-dark-blue;
    color: vars.$color-soft-beige;
  }
  
  tbody tr:nth-child(even) {
    background-color: vars.$color-muted-teal;
  }
  
  tbody tr:nth-child(odd) {
    background-color: vars.$color-soft-beige;
  }